<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="default/list_css::top">
    <style type="text/css">
        th, td {
            white-space: nowrap;
        }

    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<section class="content-header">
    <h1>
        角色管理
        <small>角色列表</small>
    </h1>
</section>
<!-- 添加修改模态框（Modal） -->
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close refresh" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addRoleModalLabel">
                    角色信息
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" th:object="${sysRole} " id="roleUpdateForm"
                      method="post">
                    <input type="hidden" class="form-control m-input" th:field="*{id}" id="id">
                    <div class="form-control-inline">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label"><span style="color:red;">*</span>名称</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" th:field="*{name}" id="name"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-control-inline">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label"><span
                                    style="color:red;">*</span>唯一识别码</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" th:field="*{uniqueId}"
                                       id="uniqueId" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-control-inline">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">备注</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control m-input" th:field="*{remark}"
                                       id="remark">
                            </div>
                        </div>
                    </div>
                    <div>
                        <!--分割线-->
                        <h1 class="form-sub-ttl"></h1>
                    </div>
                    <div class="box-body">
                        <div id="MenuTree"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="fa fa-reply refresh btn btn-default" data-dismiss="modal"> 返回
                        </button>
                        <button type="submit" class="fa fa-save btn btn-info mr10"> 保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 增删改查按钮 -->
<section class="content">
    <div class="box box-warning">
        <div class="box-header box-table-header">
            <h3 class="box-title">
            </h3>
        </div>
        <div class="box-header">
            <h3 class="box-title">
                <a href="#" class="btn btn-info mr10" onclick="addRoleBtn()"><i class="fa fa-plus"></i> 新增</a>
                <a href="#" class="btn btn-info mr10" onclick="deleteRoleBtn()"><i class="fa fa-trash-o"></i> 删除</a>
                <a href="#" class="btn btn-info mr10" onclick="updateRoleBtn()"><i class="fa fa-edit"></i> 修改</a>
                <a href="#" class="btn btn-info mr10" onclick="queryBtn()"><i class="fa fa-search"></i> 查询</a>
                <a href="#" class="btn btn-info mr10" onclick="resetBtn()"><i class="fa fa-repeat"></i> 重置</a>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table id="roleList" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="center">
                        <input type="checkbox" class="checkAll" id="checkAll"/>
                    </th>
                    <th>序号</th>
                    <th>名称</th>
                    <th>唯一识别码</th>
                    <th>备注</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td align="center">
                        <input type="text" class="form-control form-control-sm  "
                               name="search"
                               id="name_input"
                               placeholder="模糊查询"/>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm  "
                               name="search"
                               id="uniqueId_input"
                               placeholder="模糊查询"/>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm  "
                               name="search"
                               id="remark_input"
                               placeholder="模糊查询"/>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
</body>
<script th:replace="default/list_js::importjs"></script>
<script type="text/javascript">
    var roleTable;
    //Tree
    //选择菜单节点Id
    var selectedId = 'root';
    //选择菜单节点Name
    var selectedName = '';
    //修改标志  0:新增   1:修改
    var updateFlag = '';


    $(function () {
        $("#roleUpdateForm").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');
                }
                ,
                submitHandler: function () {
                    addRole();
                }
            }
        );
        loadDataTableData();
    });

    //加载菜单分组tree
    $('#MenuTree').jstree({
        'core': {
            "check_callback": true,//在对树进行改变时，check_callback是必须设置为true；
            'data': {
                'url': '/menu/getTree?hasChildrenNodeFlag=1',
                beforeSend: function(xhr, settings){
                    xhr.setRequestHeader("Authorization",  parent.sysUsersView.token);
                }
            },

        },
        "plugins": ["checkbox", "dnd", "types", "wholerow"],
        "checkbox": {
            //是否默认选中
            "keep_selected_style": false,
        },
        'types': {
            "#": {
                "max_children": 1
            }
        }
    })
        // 展开菜单所有节点
        .on("loaded.jstree", function (event, data) {
            $('#MenuTree').jstree('open_all');
        })
        //获得菜单点击节点的id
        .on("changed.jstree", function (e, data) {
            // 获取当前菜单节点下的目录列表
            selectedId = data.node.id;
            selectedName = data.node.text;
        });

    //加载表格数据
    function loadDataTableData() {
        roleTable = $('#roleList').DataTable({
            "dom": '<"top">tlir<"datatable-footer"p><"clear">',
            "aLengthMenu": [10, 25, 50, 100],
            "bAutoWidth": false,
            'bPaginate': true,
            "bDestory": true,
            "bRetrieve": true,
            "bFilter": false,
            "bSort": false,
            "bProcessing": true,
            "serverSide": true,
            "fixedHeader": [{
                header: true,
            }],
            "scrollY": yHeight - 425 + 'px',
            "iDisplayLength": 10,
            "columns": [
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type) {
                        return "<div align='center'><input type='checkbox' onclick = childclick() name='ckb_id' value='" + data + "'></div>";
                    },
                    "bSortable": false
                },
                {
                    "data": null,
                    render: function (data, type, row, meta) {
                        // 显示行号,
                        var startIndex = meta.settings._iDisplayStart;
                        return (startIndex + meta.row + 1).toString();
                    }
                },
                {"data": "name"},
                {"data": "uniqueId"},
                {"data": "remark"}
            ],
            "ajax": {
                type: "POST",
                url: '/role/listRoles',
                beforeSend: function(xhr, settings){
                    xhr.setRequestHeader("Authorization",  parent.sysUsersView.token);
                },
                data: function (d) {
                    d.name = $.trim($('#name_input').val());
                    d.uniqueId = $.trim($('#uniqueId_input').val());
                    d.remark = $.trim($('#remark_input').val());
                    return d;
                }
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).css("cursor", "pointer");
            },
            "oLanguage": {
                "sProcessing": "努力加载中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有数据",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                }
            }
        })
    }

    //添加
    function addRole() {
        //表单参数
        var params = {};
        if (updateFlag == '0') {
            params = {
                name: $.trim($('#name').val()),
                uniqueId: $.trim($('#uniqueId').val()),
                remark: $.trim($('#remark').val())
            }
        } //修改
        else {
            params = {
                id: $('input[name="ckb_id"]:checked').val(),
                name: $.trim($('#name').val()),
                uniqueId: $.trim($('#uniqueId').val()),
                remark: $.trim($('#remark').val()),

            };
            //dragTree();
        }

        //遍历选中节点
        var sysMenuIds = [];
        var sysMenus = $('#MenuTree').jstree("get_selected", true);
        $.each(sysMenus, function () {
            /*Frank 2019.10.16,所有节点都要加入权限控制,否则动态菜单不好显示 */
            sysMenuIds.push(this.id);
            //处理只选中部分子节点的问题
            var parentId = $('#MenuTree').jstree("get_parent", this.id);
            var isSelected = $('#MenuTree').jstree("is_selected", parentId);
            if (!isSelected && !sysMenuIds.includes(parentId) && this.id != 'root') {
                sysMenuIds.push(parentId);
            }
        });

        $.ajax({
            type: "post",
            data: params,
            url: "/role/addRole?sysMenuIds=" + sysMenuIds,
            traditional: true,
            dataType: "json",
            beforeSend: function(xhr, settings){
                xhr.setRequestHeader("Authorization",  parent.sysUsersView.token);
            },
            success: function (data) {
                if (data.code) {
                    swal('提示', data.msg, 'success');
                    roleTable.ajax.reload();
                } else {
                    swal('提示', data.msg, 'warning');
                }
            }
        })
    }

    //添加
    function addRoleBtn() {
        updateFlag = '0';
        clearModel();

        $('#addRoleModal').modal('show');
    };

    //修改
    function updateRoleBtn() {
        updateFlag = '1';
        clearModel();
        var checkedBox = $("input[name='ckb_id']:checked");
        if (checkedBox.length != 1) {
            swal('提示', '请选择一条记录，修改！', 'warning');
            return;
        }
        var params = {
            id: $('input[name="ckb_id"]:checked').val()
        };
        $.ajax({
            url: "/role/getRole",
            data: params,
            dataType: 'json',
            type: "post",
            beforeSend: function(xhr, settings){
                xhr.setRequestHeader("Authorization",  parent.sysUsersView.token);
            },
            success: function (data) {
                if (data) {
                    if (data.code) {
                        //清空
                        clearModel();
                        var sysRole = data.sysRole;

                        $('#name').val(sysRole.name);
                        $('#uniqueId').val(sysRole.uniqueId);
                        $('#remark').val(sysRole.remark);
                        //勾选关联菜单MenuId
                        var sysMenus = data.sysMenus;
                        if (sysMenus) {
                            for (var i = 0; i < sysMenus.length; i++) {
                                if (sysMenus[i].leafFlag) {
                                    $('#MenuTree').jstree('select_node', sysMenus[i].id);
                                }
                            }
                        }

                        $('#addRoleModal').modal('show');
                    } else {
                        swal('提示', data.msg, 'warning');
                    }
                }
            }
        });
    };

    //删除
    function deleteRoleBtn() {
        var checkedBox = $("input[name='ckb_id']:checked");
        if (checkedBox.length == 0) {
            swal('提示', '至少选择一条记录，删除！', 'warning');
            return;
        }
        var ids = [];
        $('input[name="ckb_id"]:checked').each(function () {
            ids.push($(this).val());
        });
        swal({
            title: '警告',
            text: '确定删除：' + ids.length + '条记录？',
            type: 'error',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: '确定！',
            cancelButtonText: '取消！',
        }).then(function (obj) {
            if (obj.value) {
                var params = {
                    ids: ids
                };
                $.ajax({
                    url: '/role/deleteRole',
                    dataType: 'json',
                    type: "post",
                    data: params,
                    traditional: true,
                    beforeSend: function(xhr, settings){
                        xhr.setRequestHeader("Authorization",  parent.sysUsersView.token);
                    },
                    success: function (data) {
                        if (data) {
                            // 1,提示
                            if (data.code) {
                                swal('提示', data.msg, 'success');
                                roleTable.ajax.reload();
                                // //刷新当前
                                /* setTimeout(function () {
                                    history.go(0);
                                }, 1000); */
                            } else {
                                swal('提示', data.msg, 'warning');
                            }
                        }
                    }
                });
            }
        })
    };


    //实现全选功能
    $('#checkAll').on('click', function () {
        if (this.checked) {
            $(this).attr('checked', 'checked');
            $("input[name='ckb_id']").each(function () {
                this.checked = true;
            });
        } else {
            $(this).removeAttr('checked');
            $("input[name='ckb_id']").each(function () {
                this.checked = false;
            });
        }
    });

    //点击事件
    function childclick(id) {
        if ($(this).is(":checked") == false) {
            $("#checkAll").prop("checked", false);
        }
    }

    //回车键绑定
    $("input[name='search']").bind('keypress', function (event) {
        if (event.keyCode == "13") {
            roleTable.ajax.reload();
        }
    });

    //查询
    function queryBtn() {
        roleTable.ajax.reload();
    };

    //重置
    function resetBtn() {
        $("input[name='search']").val('');
        roleTable.ajax.reload();
    };
    //关闭刷新当前页面
    $(function () {
        $(".refresh").click(function () {
            clearModel();
            roleTable.ajax.reload();
        })
    });

    //拖拽排序算法
    function dragTree() {
        //遍历所有节点
        var jsonNodes = $('#MenuTree').jstree(true).get_json('#', {flat: true});
        var displayOrder = 1;
        //新的tree及拖拽后对应的父节点id的list
        var sysMenus = [];
        $.each(jsonNodes, function (i, data) {
            //遍历的ID
            var id = $(data).attr('id');
            //根据ID获取父节点ID
            var parentMenuId = $('#MenuTree').jstree("get_parent", $(data).attr('id'));
            //创建sysMenu对象
            var sysMenu = {};
            //创建sysMenu对象
            //剔除 # 这个ID
            if (parentMenuId !== '#') {
                sysMenu.id = id;
                sysMenu.parentMenuId = parentMenuId;
                sysMenu.displayOrder = displayOrder++;
                sysMenus.push(sysMenu);
            }
        });
        //向后端传递 拖拽完成后的tree结构
        var param = {
            sysMenus: JSON.stringify(sysMenus) //必须有 将json对象转为json字符串在后台接收
        };
        $.ajax({
            url: "/role/dragTree",
            beforeSend: function(xhr, settings){
                xhr.setRequestHeader("Authorization",  parent.sysUsersView.token);
            },
            type: "post",
            dataType: 'json',
            data: param
        })
    }

    //清空模态框
    function clearModel() {
        //清空文本框
        $('.m-input').val('');
        //清空角色树
        /* var selectedRoles = $('#RoleTree').jstree("get_selected", true);
        $.each(selectedRoles, function(){
            $('#RoleTree').jstree('check_node', $(this).id, false);
        });  */
        //取消选中
        $("#MenuTree").jstree("deselect_all", true);
        //取消验证失败提示文字变红的样式
        $(".has-error").each(function () {
            $(this).removeClass("has-error");
        });
        //取消验证失败下面的提示文字
        $(".error").each(function () {
            $(this).remove();
        })
    }


</script>
</html>
